/webclipper/Debug/*.ilk
/webclipper/Debug/*.pdb
/webclipper/Debug/data/阿斯蒂芬.html
/webclipper/Debug/data/百度一下，你就知道_WebPage.html
/webclipper/Debug/data/使用马尔可夫模型自动生成文章.html
/webclipper/Debug/data/无标题.png
/nativemessaging/Debug/*.ilk
/nativemessaging/Debug/*.pdb
/webclipper/*.sdf
/nativemessaging/*.sdf
/webclipper/Debug/data
/webclipper/ipch
/webclipper/webclipper/Debug
