/webclipper/Debug/*.ilk
/webclipper/Debug/*.pdb
/nativemessaging/Debug/*.ilk
/nativemessaging/Debug/*.pdb
/nativemessaging/nativemessaging/Debug
/webclipper/*.sdf
/nativemessaging/*.sdf
/webclipper/Debug/data
/webclipper/ipch
/webclipper/webclipper/Debug
/nativemessaging/.vs
/webclipper/.vs
